#dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 60vh;

  & section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  & section:nth-child(1) {
    flex-grow: 1;

    & .history {
      flex-grow: 4;
    }
  }

  & section:nth-child(2) {
    flex-grow: 2;

    & .fidelity {
      flex-grow: 4;
    }

    & .gift-progress {
      flex-grow: 1.5;
    }
  }
}

.profile-info {
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  z-index: -2;

  & #profile-pic {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    position: relative;
    padding: 2px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      border: 2px solid white;
    }

    &::before {
      content: "";
      background: var(--gradient-base);
      position: absolute;
      inset: -0.2px;
      border-radius: 10px;
      z-index: -1;
    }
  }

  & > div {
    h3 {
      color: var(--gray-600);
    }

    p {
      font-size: var(--text-xs);
      color: var(--gray-500);
    }
  }
}

.history {
  padding: 24px;
  overflow: auto;

  & header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    h5 {
      color: var(--gray-500);
    }

    span {
      font-size: var(--text-xs);
      color: var(--gray-500);
    }
  }

  & ul {
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 12px;
    padding-right: 8px;
    position: relative;

    &::before {
      content: "";
      background: var(--gray-300);
      border-radius: 16px;
      height: 1px;
      width: calc(100% - 2px);
      position: absolute;
      inset: 0;
    }

    & li + li {
      margin-top: 12px;
    }

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;

        strong {
          font-size: var(--subtitle-sm);
          color: var(--gray-600);
        }

        span {
          font-size: var(--text-xs);
          color: var(--gray-500);
        }
      }

      .check-icon-wrapper {
        width: 32px;
        height: 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(69, 180, 66, 0.12);
        border-radius: 50%;

        img {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}
