.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  & section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  & section:nth-child(1) {
    flex-grow: 1;

    & .history {
      flex-grow: 4;
    }
  }

  & section:nth-child(2) {
    flex-grow: 2;

    & .fidelity {
      flex-grow: 4;
    }

    & .gift-progress {
      flex-grow: 1.5;
    }
  }
}

.profile-name {
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  z-index: -2;

  & .profile-pic {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    position: relative;
    padding: 2px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      border: 2px solid white;
    }

    &::before {
      content: "";
      background: var(--gradient-base);
      position: absolute;
      inset: -0.2px;
      border-radius: 10px;
      z-index: -1;
    }
  }

  & > div {
    h3 {
      color: var(--gray-600);
    }

    p {
      font-size: var(--text-xs);
      color: var(--gray-500);
    }
  }
}
