#gift-achieved-modal {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;

  & div {
    background: var(--gray-200);
    width: fit-content;
    height: fit-content;
    padding: 32px 32px 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border-radius: 16px;
    border: 2px solid var(--pink);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);

    h2 {
      color: var(--pink);
    }

    h4 {
      color: var(--gray-700);
    }

    img {
      width: 60%;
    }

    button.close-x {
      width: fit-content;
      height: fit-content;
      background: transparent;
      margin: 0;
      padding: 0;

      position: absolute;
      top: 12px;
      right: 12px;

      img {
        width: 14px;

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }
  }
}
