.container {
  max-width: 912px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}

.logo {
  width: 98px;
  height: auto;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid var(--gray-300);
  border-radius: 16px;
  background-color: var(--gray-100);

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray-100);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 16px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }
}

@media (max-width: 1100px) {
  .container {
    margin: 0;
    padding: 20px 12px;
  }

  .logo {
    margin-bottom: 20px;
  }
}
